:root {
  font-family: "Comic Sans MS", cursive;
  background-color: hotpink;
  color: black;
}

body {
  margin: 0;
  background: repeating-linear-gradient(45deg, yellow, yellow 20px, green 20px, green 40px);
}

button {
  font-family: inherit;
}
